<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ISM</title>
  </head>

  <body ng-app="app">
    <div ui-view></div>

    <script src="../static/bower_components/angular/angular.js"></script>
    <script src="../static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../static/js/views/main/main.controller.js"></script>
    <script src="../static/js/services/apiService.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
